body {
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
  background-color: #FFF4F4;
  line-height: 25px;

}

h1 {
font-family: 'Source Sans Pro', sans-serif;
font-size: 40px;
text-align: justify
}

h2 {
font-family: 'Slabo 27px', serif;
font-size: 30px;
text-align: justify;
color: #B89E97;
}

h3 {
font-family: 'Source Sans Pro', sans-serif;
font-size: 30px;
text-align: justify;
color: #B89E97;
font-style: italic;
}

h4 a{
font-size: 20px;
font-weight: bold;
color: #B89E97;
text-decoration: none;
}

h4:hover {
  text-decoration: underline;
}

#intro {
font-style: italic;
text-align: center;

}

#center-image {
  text-align: center;
}

#image-para {
  padding: 10px

}

.container {
  width: 700px;
  margin: 20 auto;
  background: white;                          /* White background */
  padding: 30px;                              /* Internal space */
  border-radius: 4px;                         /* Small radius */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);

}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding: 0px
}


#first_table {
  color: #B89E97;
  padding: 0px;
  text-decoration: none;
}

.spacing {
  padding: 20px;
  text-align: justify;
}

.social-media {
  color: black;
  text-decoration: none;

}

.social-media:hover {
  text-decoration: underline;
}

.read-more:hover {
  color: pink;
}


/* Here goes your CSS */
